@model IEnumerable<MvcVote.Models.Mayor>

@{
    ViewData["Title"] = "Index";
}

<h2>Kandidat (načelnik) - administrator / Кандидат (начелник) - администратор</h2>

<p>
    <a asp-action="Create">Dodaj novog kandidata / Додај новог кандидата</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Party)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoteCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Municipality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Party)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VoteCount)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Uredi / Уреди</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalji / Детаљи</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Ukloni / Уклони</a>
                </td>
            </tr>
        }
    </tbody>
</table>
