@model IEnumerable<MvcVote.Models.Voter>
<!-- Created by scaffolding -->

@{
    ViewData["Title"] = "Index";
}

<h2>Birač - administrator / Бирач - администратор</h2>

<p>
    <a asp-action="Create">Dodaj novog birača / Додај новог бирача</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.didVote)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Municipality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.didVote)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Uredi / Уреди</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalji / Детаљи</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Ukloni / Уклони</a>
                </td>
            </tr>
        }
    </tbody>
</table>
